body {
  background: #272728;
  text-align:center;
}
canvas {
  margin:auto;
}
input {
  background:transparent;
  border:solid 1px white;
  width:500px;
  max-width:80%;
  height:30px;
  font-family: 'Amatic SC';
  color:white;
  font-size:30px;
  padding:5px;
  outline:none !important;
}
i {
    color:white;
    font-size:20px;
    margin-right:10px;
}